body{
  background-image: url("flames2.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  color:blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:grey;
}

.active {
    background-color:red;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

}
li{
font-family: 'Domine', serif;
}
