
#main {
    width: 350px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    display: flex;
    margin:0px auto;
}

#main div {
    -webkit-flex-grow: 0; /* Safari 6.1+ */
    -webkit-flex-shrink: 0; /* Safari 6.1+ */
    -webkit-flex-basis: 40px; /* Safari 6.1+ */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
}

#main div:nth-of-type(2) {
    -webkit-flex-basis: 80px; /* Safari 6.1+ */
    flex-basis: 80px;
}
body {
    background-image: url("vegg.jpg");
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 1500px;
    background-color: #88dfff;
    flex-direction: column;
}

.flex-item {
    background-color: #88dfff;
    width: 350px;
    height: 350px;
    margin: 20px;
}
img
{border-radius:10%;
object-fit:cover;
border: black 3px outset;
}
